<form class="log-in">
    <p>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
    </p>
    <p>
        <label for="remember">Remember me</label>
        <input type="checkbox" id="remember" name="remember">
    </p>
    <p>
        <button type="submit">Log In</button>
    </p>
</form>
<form #registrationForm="ngForm" (ngSubmit)="passwordMatchValidator(registrationForm)">

    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>
    </p>
    <p>
        <label for="confirm-password">Confirm password:</label>
        <input type="text" id="confirm-password" name="confirm-password" required>
    </p>
    <p>
        <button type="submit">Register</button>
    </p>
</form>
